<h1><%= @user.username %>'s page</h1>

<h3><%= @user.username %>'s goals</h3>
<ul>
<% @user.goals.each do |goal| %>
  <% next if (goal.private? && !goal.author?(current_user)) %>
  <li>
    <%= link_to goal.name, goal_url(goal) %>
    <%= link_to("Edit Goal", edit_goal_url(goal)) if goal.author?(current_user) %>
  </li>
<% end %>
</ul>

<h4>Comments</h4>
<ul>
<% @user.comments && @user.comments.each do |comment| %>
  <li>
    <%= comment.message %>
    <%= fail %>
    <%= button_to("delete", comment_url(comment), method: :delete) if comment.authorized?(current_user) || comment.authorized?(@user) %>
  </li>
<% end %>
</ul>

<form action="<%= comments_url %>" method="post">
<%= auth_input %>
<input type="hidden" name="comment[commentable_id]" value="<%= @user.id %>">
<input type="hidden" name="comment[commentable_type]" value="<%= @user.class %>">

<label for="user_comment_form">user_comment_form</label><br>
<textarea name="comment[message]" id="user_comment_form" rows="8" cols="40"></textarea>

<input type="submit" value="Add Comment">
</form>
